#
# MMC/SD host controller drivers
#

comment "MMC/SD/SDIO Host Controller Drivers"

config MMC_MSM
	tristate "Qualcomm SDCC Controller Support"
	depends on MMC && ARCH_MSM
	help
	  This provides support for the SD/MMC cell found in the
          MSM and QSD SOCs from Qualcomm.

config MMC_MSM_SDIO_SUPPORT
	boolean "Qualcomm MSM SDIO support"
	depends on MMC_MSM
	help
	  This enables SDIO support in the msm_sdcc driver.

config MMC_MSM_CARD_HW_DETECTION
	boolean "Qualcomm MMC Hardware detection support"
	depends on MMC_MSM
	default n
	help
	  Select Y if the hardware has support to detect card insertion/removal.

config MMC_MSM_SDC1_SUPPORT
	boolean "Qualcomm SDC1 support"
	depends on MMC_MSM
	default y
	help
	  Select Y to enable Slot 1.

config MMC_MSM_SDC1_8_BIT_SUPPORT
	boolean "Qualcomm SDC1 8bit support"
	depends on MMC_MSM_SDC1_SUPPORT
	default n
	help
	  Select Y to enable 8bit support for Slot 1.

config MMC_MSM_SDC2_SUPPORT
	boolean "Qualcomm SDC2 support"
	depends on MMC_MSM
	default y
	help
	  Select Y to enable Slot 2.

config MMC_MSM_SDC2_8_BIT_SUPPORT
	boolean "Qualcomm SDC2 8bit support"
	depends on MMC_MSM_SDC2_SUPPORT
	default n
	help
	  Select Y to enable 8bit support for Slot 2.

config MMC_MSM_SDC3_SUPPORT
	boolean "Qualcomm SDC3 support"
	depends on MMC_MSM
	default n
	help
	  Select Y to enable Slot 3.

config MMC_MSM_SDC3_8_BIT_SUPPORT
	boolean "Qualcomm SDC3 8bit support"
	depends on MMC_MSM_SDC3_SUPPORT
	default n
	help
	  Select Y to enable 8bit support for Slot 3.

config MMC_MSM_SDC3_WP_SUPPORT
	boolean "Qualcomm SDC3 write protection support"
	depends on MMC_MSM_SDC3_SUPPORT
	default n
	help
	  Select Y to enable write protection support for Slot 3.

config MMC_MSM_SDC4_SUPPORT
	boolean "Qualcomm SDC4 support"
	depends on MMC_MSM
	default n
	help
	  Select Y to enable Slot 4.

config MMC_MSM_SDC4_8_BIT_SUPPORT
	boolean "Qualcomm SDC4 8bit support"
	depends on MMC_MSM_SDC4_SUPPORT
	default n
	help
	  Select Y to enable 8bit support for Slot 4.

config MMC_MSM_SDC5_SUPPORT
	boolean "Qualcomm SDC5 support"
	depends on MMC_MSM
	default n
	help
	  Select Y to enable Slot 5.

config MMC_MSM_SDC5_8_BIT_SUPPORT
	boolean "Qualcomm SDC5 8bit support"
	depends on MMC_MSM_SDC5_SUPPORT
	default n
	help
	  Select Y to enable 8bit support for Slot 5.

config MMC_MSM_SPS_SUPPORT
	bool "Use SPS BAM as data mover"
	depends on MMC_MSM && SPS
	default n
	help
	  Select Y to use SPS BAM as data mover
